<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /tss
  RewriteRule ^tss/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /tss/index.html [L]
</IfModule>