
<div class="text-center p-4">
  <h2 class="text-xl font-bold">Monitoring Lembur Driver</h2>
  <div class="stats stats-vertical lg:stats-horizontal shadow">
        <div class="stat">
            <div class="stat-title">Lembur</div>
            <div class="stat-value">1</div>
            <div class="stat-desc">Jan 1st - Feb 1st</div>
        </div>

        <div class="stat">
            <div class="stat-title">Dashboard Kebutuhan 2</div>
            <div class="stat-value">1</div>
            <div class="stat-desc">-</div>
        </div>

        <div class="stat" onclick="alert('sss')">
            <div class="stat-title">Dashboard Kebutuhan 2</div>
            <div class="stat-value">1</div>
            <div class="stat-desc">-</div>
        </div>
    </div>

     <div id="myGrid" style="height: 500px;width:'100%'"></div>
     <script src="./views/dashboard/dashboard.js" type="module"></script>
</div>



